body{
    background-color: black;
}
.container{
    background-color: black;
    color: white;
}
#menu>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;

}
img{
    width: 20%;
}
#menu>ul>li>a{
    text-decoration: none;
    color: white;
   
}
#menu>ul>li>a:hover{
    font-size: large;
    color: wheat;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tartalom>ul>li{

    list-style: circle;
}
h1{
    text-align: center;
}
img{
    margin: auto;
}
.tartalom{
    border-left: 1px solid rgba(255, 0, 0, 0.603);
}
.tartalom>h3{
    text-align: center;
}
.kep {
    text-align: center;

}