body{
    background-color: #282828;
    color: #fffffd;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}
li{
    font-size: 12px;
}
h3{
    font-size: 18px;
}
.container{
width: 100%;
height: 800px;
}

.menuhatter{
    background-color: #282828;
    padding: 10px;
    width: 100%;
}
#menu{
    width: 45%;
}
#menu>ul>li>a{
    text-decoration: none;
    color: #fffffd;
    font-size: 13px;
}
#menu>ul>li{
    list-style: none;
    padding: 5px;
    padding-right: 15px;
}
#menu>ul{
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin: 0;
    width: 50%;
}
#menu>ul>li>a:hover{
    color: rgb(196, 196, 33);
    }
.kep{
    text-align: center;
}
img{
    width: 50%;
}
.tartalom>h3{text-align: center;}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.tartalom{
    border-right: 2.3px solid rgba(255, 0, 0, 0.679);
    padding: 9px;
}
.tartalom>ul{padding-left: 20px;}
.tartalom>ul>li{list-style: circle;
    background-size: 10px;
    line-height: 17px;
    padding: 4px;
}

.grid{
    width: 80%;
    max-width: 800px;
    margin: auto;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-top: 50px;
    margin: auto;
    width: 80%;
    max-width: 980px;
    gap: 100px;
    padding-top: 150px;
}
hr{
    height: 2px;
    color: rgba(255, 0, 0, 0.679);
    background-color:rgba(255, 0, 0, 0.679);
    border-width: 0;
    width: 100%;
}
.container2{
    width: 100%;
    background-color: #000000;
    height: 840px;
}

.h12{
    font-weight: bold;
    font-size: 38px;
}
.kep2{
    width: auto;
    height: auto;
}
p{
    color: #a6aeae;
}
@media screen and (max-width: 800px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:80px;
    }
    .grid2{
        grid-template-columns: repeat(1, auto);
    }
     
    .tartalom{
        border-right: 0;
        height: 100%;
        padding: 0%;
    }
    #menu>ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        gap: 5px;
        text-align: center;
        margin-left: 2%;
    }
    #menu>ul>li{
        border: 1px solid white;
        
    }
    #menu>ul>li>a{
        display: block;
        padding: 5px;
        padding-left: 40px;
        padding-right: 40px;
    }
    #menu>ul>li>a:hover{
        color: black;
        }
    #menu>ul>li:hover{
        background-color: white;

    }
    img{
        width: 60%;
    }
    .kep2{
        width: 100%;
        height: auto;
    }
    h1{padding-top: 10px;}
   .container{
    width: 70%;
    max-width: 500px;
    margin: auto;
    height: fit-content;
   }
   .container2{
    margin: auto;
    height: fit-content;
    }
    #menu{
       width: 100%;
    }



}